<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ config['APPLICATION_TITLE'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pushkind.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% block styles %}{% endblock %}
    <style>
        .selectable {
            cursor: pointer;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        .bg-yellow {
            /* background-color: rgb(255, 255, 206); */
            background-color: rgb(254, 244, 221);
        }
    </style>
</head>

<body class="bg-light">
    <div id="flashMessages">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
    <header id="header" class="header">
        <div class="container">
            {% if not current_user.is_anonymous %}
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('main.show_index') }}">
                        <img class="logo"
                            src="{{ url_for('static', filename='upload/logo{}.png'.format(current_user.hub_id or '')) }}"
                            alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% include 'navigation.html' %}
                        <span class="navbar-text py-0">
                            <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                                title="{{current_user.name or ''}}" data-bs-html="true"
                                data-bs-content="{{current_user.role.pretty}}<br>{{current_user.email}}<br><a href='{{url_for('auth.logout')}}'>выйти</a>">
                                <img class="person rounded-circle" src="{{ url_for('static', filename='person.png') }}"
                                    alt="Person">
                            </a>
                        </span>
                    </div>
                </div>
            </nav>
            {% if current_user.role.name != 'default' %}
            <div class="row">
                <div class="col text-end fs-7">
                    <a class="mx-1" href="#" data-bs-toggle="modal" data-bs-target="#callSupportModal">поддержка</a>
                </div>
            </div>
            {% endif %}
            {% else %}
            <div class="row">
                <div class="col text-center overflow-hidden">
                    <h3>
                        {{ config['APPLICATION_TITLE'] }}
                    </h3>
                </div>
            </div>
            {% endif %}
        </div>
    </header>

    {% block content %}{% endblock %}
    <div class="d-none" id="templates">
        {% block templates %}{% endblock %}
    </div>
    {% if not current_user.is_anonymous and current_user.role.name != 'default' %}
    <div class="modal fade" id="callSupportModal" tabindex="-1" aria-labelledby="callSupportModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="callSupportModalLabel">ОБРАТИТЬСЯ В ПОДДЕРЖКУ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{{ url_for('main.call_support') }}" id="callSupportForm">
                    <div class="modal-body">
                        <textarea class="form-control" name="comment" rows="3" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary text-white">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            const popoverList = popoverTriggerList.map((popoverTriggerEl) => {
                return new bootstrap.Popover(popoverTriggerEl)
            });
            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            const tooltipList = tooltipTriggerList.map((tooltipTriggerEl) => {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>