{% extends "base.html" %}

{% block content %}

<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <input class="form-control" id="eventFilter" type="text" placeholder="Фильтр..">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for d in dates %}
            <a href="{{ url_for('main.show_history', from=dates[d]['value']) }}"
                class="text-decoration-none badge {% if filter_from == dates[d]['value'] %}bg-primary{% else %}bg-white fw-normal text-secondary border{% endif %}">{{
                dates[d]['pretty'] }}</a>
            {% endfor %}
            <a href="{{ url_for('main.show_history', from=0) }}"
                class="text-decoration-none badge {% if filter_from == 0 %}bg-primary{% else %}bg-white fw-normal text-secondary border{% endif %}">все</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row bg-light d-none d-sm-flex border fw-bold">
        <div class="col-1 overflow-hidden">
            Время
        </div>
        <div class="col-1 overflow-hidden">
            Сущность
        </div>
        <div class="col-2 overflow-hidden">
            Пользователь
        </div>
        <div class="col-2 overflow-hidden">
            Событие
        </div>
        <div class="col overflow-hidden">
            Описание
        </div>
    </div>
    <div id="eventList">
        {% for event in events %}
        {% include '_event.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    document.addEventListener("DOMContentLoaded", () => {

        // Event Filter
        const eventFilter = document.querySelector('#eventFilter');
        if (eventFilter) {
            eventFilter.addEventListener('keyup', function () {
                const value = this.value.toLowerCase();
                const eventRows = document.querySelectorAll('.event');
                eventRows.forEach((eventRow) => {
                    const text = eventRow.textContent.toLowerCase();
                    const show = text.indexOf(value);
                    eventRow.style.display = show > -1 ? 'flex' : 'none'
                });
            });
        }
    });
</script>
{% endblock %}